/* ----- GLOBAL STYLING ----- */

html, body{
    margin: 0;
    padding: 0;
    font-family: '';
}

/* --- Globale Variabler --- */

:root{
    --bgc1: orange;
    --bgc2:black;
}

body{
    font-family: 'Muli';
}

/* ---- SECTIONS STYLING ---- */

.center{
    text-align: center;
}

.overskrift{
    text-align: center;
    color: #313831;
    margin-bottom: 0;
    margin-top: 50px;
}

.overskrifttekst{
    text-align: center;
    color: #7A827D;
    font-size: 80%;
    margin-top: 5px;
}

/* ---- SECTION 1 - Introtekst ---- */

#sec1 {
    background-image: url(../images/flowers.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#sec1 h1 {
    padding: 25px 15px 0 15px;
    color: #fff;
}

#sec1 p {
    padding: 0 45px 25px;
    color: #fff;
}

/* ---- BUKETTER ---- */

#grid-buketter {
    position: relative;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 45% 45%;
    grid-gap: 10%;
    margin: 7.5%;
}

#imgbuket{
    width: 100%;
}

.containerbuketter p{
    width: 100%;
    margin: 0;
    text-align: left; 
    color: #636A66;
    font-size: 80%;
}

.buketpris{
    color: #636A66;
    font-size: 80%;
}

/* Hide the browser's default radio button */

.containerbuketter input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* When the radio button is checked, add a blue background */
.containerbuketter input:checked ~ #imgbuket {
  filter: brightness(60%);
}

/* ---- NUANCER ---- */

#grid-nuancer {
    position: relative;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 30% 30% 30%;
    grid-gap: 5%;
    margin: 10%;
}

.containernuancer{
    display: grid;
    justify-items: center;
}

.containernuancer p{
    text-align: center;
    font-size: 14px;
}

.imgnuancer{
    width: 55%;
}

/* Hide the browser's default radio button */

.containernuancer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* When the radio button is checked, add a background */
.containernuancer input:checked ~ .imgnuancer {
  filter: brightness(60%);
}

.containernuancer input:checked ~ p {
  
}

/* ---- STØRRELSER ---- */

#grid-størrelser {
    position: relative;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: %;
    margin: 5%;
}

.containerstørrelser{
    display: grid;
    justify-items: center;
}

.størrelserbeskrivelse{
    width: 100%;
    text-align: center;
    font-size: 80%;
    color: #7A827D;
}

.strpris{
    font-size: 85%;
}

.imgstørrelser{
    width: 80%;
}

/* Hide the browser's default radio button */

.containerstørrelser input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* When the radio button is checked, add a blue background */
.containerstørrelser input:checked ~ .imgstørrelser {
  filter: brightness(80%);
}

/* ---- TILVALG ---- */

#grid-tilvalg {
    position: relative;
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    column-gap: 5%;
    margin: 5%;
}

.containertilvalg{
    display: grid;
    justify-items: center;
}

.tilvalgbeskrivelse{
    width: 90%;
    text-align: left;
    margin: 10px;
    font-size: 85%;
    color: #7A827D;
}

.tilvalgtekst{
    text-align: left;
    width: 90%;
    min-height: 60px;
    font-size: 75%;
    color: #7A827D;
    margin-top: 0;
}

.imgtilvalg{
    width: 90%;
}

/* Hide the browser's default radio button */

.containertilvalg input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* When the radio button is checked, add a blue background */
.containertilvalg input:checked ~ .imgtilvalg {
  filter: brightness(60%);
}

/* ---- FOOTER - Kontaktinfo og SoMe Links ---- */

#containerfooter{
    background-color: #636A66;
}

#containerfooter{
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 5%;
    padding: 10%;
    justify-content: center;
}

#containerkontakt, #containeråbningstider{
    
}

.overskriftfooter{
    font-size: 110%;
    color: #fff;
}

.footertekst{
    color: #fff;
    font-size: 80%;
    margin: 2% 0;
}

.footertekst a {
    color: #fff;
}

/* SOME ikoner */

#containersome{
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 10%;
    background-color: #636A66;
    padding: 0 25% 5% ;
}

.someicon{
    width: 70px;
}

@media only screen and (min-width: 1200px) {

    /* BUKETTER */
    
/* On mouse-over, add a grey background color */
.containerbuketter:hover input ~ #imgbuket {
  opacity: 0.5;
} 
    
    /*STØRRELSER*/
    
/* On mouse-over, add a grey background color */
.containerstørrelser:hover input ~ #imgstørrelser {
  opacity: 0.5;
}
}
    
    
