/* ----- GLOBAL STYLING ----- */

html,
body {
    margin: 0;
    padding: 0;
    font-family: '';
}

/* --- Globale Variabler --- */

body {
    font-family: 'Muli';
}

/* ---- SECTIONS STYLING ---- */

.center {
    text-align: center;
}

.overskrift {
    text-align: center;
    color: #313831;
    margin-bottom: 0;
    margin-top: 50px;
}

.overskrifttekst {
    text-align: center;
    color: #7A827D;
    font-size: 80%;
    margin-top: 5px;
}

/* ---- HEADER ---- */

.menu {
    display: none;
}

#logo {
    position: relative;
    width: 25%;
    margin: 20px 37.5% 0;
    z-index: 1;
}

/* BURGER */

#burger {
    position: absolute;
    width: 7%;
    z-index: 2;
    top: 6%;
    right: 8%;
}

/* ---- SECTION 1 - Introtekst ---- */

#sec1 {
    background-image: url(../images/cover.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#sec1 h1 {
    padding: 25px 15px 0 15px;
    color: #fff;
}

#sec1 p {
    padding: 0 45px 25px;
    color: #fff;
    line-height: 1.7;
}

/* ---- BUKETTER ---- */

#grid-buketter {
    position: relative;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 45% 45%;
    grid-gap: 10%;
    margin: 7.5%;
}

.imgbuket {
    width: 100%;
}

.containerbuketter p {
    width: 100%;
    margin: 0;
    text-align: left;
    color: #636A66;
    font-size: 80%;
}

.buketpris {
    color: #636A66;
    font-size: 80%;
}

/* Hide the browser's default radio button */

.containerbuketter input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* When the radio button is checked, add a blue background */

.containerbuketter input:checked ~ .imgbuket {
    filter: brightness(60%);
}

/* ---- NUANCER ---- */

#grid-nuancer {
    position: relative;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 30% 30% 30%;
    grid-gap: 5%;
    margin: 10%;
}

.containernuancer {
    display: grid;
    justify-items: center;
}

.containernuancer span {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.imgnuancer {
    width: 55%;
}

/* Hide the browser's default radio button */

.containernuancer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* When the radio button is checked, add a background */

.containernuancer input:checked ~ .imgnuancer {
    filter: brightness(90%);
    border: 2px solid #00cbff;
    border-radius: 50%;
}

.containernuancer input:checked ~ span {}

/* ---- STØRRELSER ---- */

#grid-størrelser {
    position: relative;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 5%;
}

.containerstørrelser {
    display: grid;
    justify-items: center;
}

.størrelserbeskrivelse {
    width: 100%;
    text-align: center;
    font-size: 80%;
    color: #7A827D;
}

.strpris {
    font-size: 85%;
}

.imgstørrelser {
    width: 80%;
}

/* Hide the browser's default radio button */

.containerstørrelser input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* When the radio button is checked, add a blue background */

.containerstørrelser input:checked ~ .imgstørrelser {
    filter: brightness(80%);
}

/* ---- TILVALG ---- */

#grid-tilvalg {
    position: relative;
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    column-gap: 5%;
    margin: 5%;
}

.containertilvalg {
    display: grid;
    justify-items: center;
}

.tilvalgbeskrivelse {
    width: 90%;
    text-align: left;
    margin: 10px;
    font-size: 85%;
    color: #7A827D;
}

.tilvalgtekst {
    text-align: left;
    width: 90%;
    min-height: 60px;
    font-size: 75%;
    color: #7A827D;
    margin-top: 0;
}

.imgtilvalg {
    width: 90%;
}

/* Hide the browser's default radio button */

.containertilvalg input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* When the radio button is checked, add a blue background */

.containertilvalg input:checked ~ .imgtilvalg {
    filter: brightness(60%);
}

/* ---- KURV ---- */

#containerpris {
    display: flex;
    width: 70%;
    margin: 5% 15% 10%;
}

#samletpris {
    width: 70%;
    color: #313831;
    font-weight: 700;
    font-size: 110%;
}

.pris {
    width: 30%;
    border: none;
    color: #313831;
    font-weight: 500;
    font-size: 110%;
    text-align: right;
}

.overskriftpris {
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 20px;
}

#kurvindhold {
    margin: 0 15%;
    color: #7A827D;
}

.tilvalgnone {
    display: none;
    color: #7A827D;
    margin: 10px 0px 10px 70px;
    float: right;
}

#kurvnuance,
#kurvbuket,
#kurvstørrelse {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

#kurvnuance p,
#kurvbuket p,
#kurvstørrelse p {
    margin: 5px 0;
}

#betal {
    background-color: #E1BC9F;
    color: #fff;
    width: 30%;
    padding: 10px 15px;
    border: none;
    margin: 10px 35% 40px;
    box-shadow: 0px 3px 10px grey;
}

#tilfreds {
    margin-top: 0;
    font-weight: 600;
}

/* ---- FOOTER - Kontaktinfo og SoMe Links ---- */

#containerfooter {
    background-color: #636A66;
    font-weight: 200;
}

#containerfooter {
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 5%;
    padding: 5% 5% 5% 10%;
    justify-content: center;
}

#containerkontakt,
#containeråbningstider {}

.overskriftfooter {
    font-size: 110%;
    color: #fff;
}

.footertekst {
    color: #fff;
    font-size: 70%;
    margin: 2% 0;
}

.footertekst a {
    color: #fff;
}

/* SOME ikoner */

#containersome {
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 10%;
    background-color: #636A66;
    padding: 0 25% 5%;
}

.someicon {
    width: 50px;
}

@media only screen and (min-width: 700px) {

    /* --- HEADER --- */
    #logo {
        width: 15%;
        margin: 2% 42.5% 0;
    }

    #burger {
        display: none;
    }

    /* Navigation */
    .menu {
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 0;
    }

    .navigation {
        float: left;
        list-style: none;
        color: #313831;
        margin: 0 2%;
        justify-content: center;
        font-weight: 300;
    }

    #bestilling {
        color: #E1BC9F;
    }

    /* --- INTROTEKST OG BILLEDE --- */
    #sec1 {
        background-image: url(../images/cover.png);
        height: 250px;
    }

    #sec1 h1 {
        padding: 5% 25% 0;
    }

    #sec1 p {
        padding: 1% 20% 0;
        line-height: 1.7;
    }

    /* -- OVERSKRIFTTEKSTER OG TEKSTER DERTIL */
    .overskrift {
        text-align: left;
        margin-left: 15%;
        font-size: 100%;
    }

    .overskrifttekst {
        text-align: left;
        margin-left: 15%;
        font-size: 75%;
    }

    /* BUKETTER */
    #grid-buketter {
        display: grid;
        grid-template-columns: 22.75% 22.75% 22.75% 22.75%;
        grid-gap: 3%;
        margin: 2% 15% 0;
    }

    .imgbuket {
        width: 100%;
    }

    .containerbuketter p {
        width: 100%;
        margin: 0;
        text-align: left;
        color: #636A66;
        font-size: 80%;
    }

    .buketpris {
        color: #636A66;
        font-size: 80%;
    }

    /* On mouse-over, add a grey background color */
    .containerbuketter:hover input ~ .imgbuket {
        opacity: 0.75;
    }

    /* --- NUANCER --- */
    #grid-nuancer {
        grid-template-columns: 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11%;
        column-gap: 0;
        width: auto;
        margin: 0 15%;
    }

    .containernuancer {
        margin-top: 10px;

    }

    .containernuancer span {
        font-size: 8px;
        font-weight: 300;
    }

    .imgnuancer {
        width: 45%;
    }

    /* On mouse-over, add a grey background color */
    .containernuancer:hover input ~ .imgnuancer {
        opacity: 0.75;
    }

    /* --- STØRRELSER --- */
    #grid-størrelser {
        margin: 30px 20% 0;
    }

    .imgstørrelser {
        width: 70%;
    }

    /* On mouse-over, add a grey background color */
    .containerstørrelser:hover input ~ .imgstørrelser {
        opacity: 0.7;
    }

    /* --- TILVALG --- */
    #grid-tilvalg {
        grid-template-columns: 16% 16% 16% 16% 16%;
        column-gap: 5%;
        margin: 20px 15% 0;
    }

    .tilvalgbeskrivelse {
        width: 100%;
        font-size: 55%;
    }

    .tilvalgtekst {
        width: 100%;
        min-height: 30px;
        font-size: 45%;
    }

    .imgtilvalg {
        width: 100%;
    }

    /* On mouse-over, add a grey background color */
    .containertilvalg:hover input ~ .imgtilvalg {
        opacity: 0.7;
    }

    /* ---- KURV ---- */
    #containerkurv {
        display: flex;
        width: 100%;
        align-items: center;
    }

    #flexpris {
        width: 60%;
    }

    .overskriftpris {
        font-size: 150%;
        margin: 30px 0 0 25%;
    }

    #samletpris {
        margin-left: 15%;
    }

    #videre {
        width: 40%;
        margin-right: 10%;
    }

    #tilfreds,
    #fortsæt {
        text-align: center;
        margin-left: 0;
        font-size: 100%;
    }

    #betal {
        width: 50%;
        margin: 10px 25%;
    }

    #betal:hover {
        opacity: 0.8;
    }

    #tilfreds {
        font-size: 115%;
    }

    /* --- FOOTER --- */
    #laptopfooter {
        display: grid;
        grid-template-columns: 75% 25%;
    }

    #containerfooter {
        font-size: 100%;
    }

    #containersome {
        font-size: 90%;
        padding: 0 25% 0 0;
        align-items: center;
    }

    .someicon {
        width: 50px;
    }

}

@media only screen and (min-width: 1180px) {

    /* NUANCER */
    .containernuancer span {
        text-align: center;
        font-size: 14px;
        font-weight: 300;
    }

    /* STØRRELSER */
    #grid-størrelser {
        margin: 30px 25% 0;
    }

    .imgstørrelser {
        width: 60%;
    }

    /* TILVALG */
    .tilvalgbeskrivelse {
        width: 100%;
        font-size: 75%;
    }

    .tilvalgtekst {
        width: 100%;
        font-size: 65%;
    }

    .imgtilvalg {
        width: 100%;
    }

    /* KURV */
    #betal {
        width: 40%;
        margin: 10px 30%;
        padding: 15px 10px;
    }

    #betal:hover {
        opacity: 0.8;
    }

    /* FOOTER */
    #laptopfooter {
        display: grid;
        grid-template-columns: 75% 25%;
    }

    #containerfooter {
        font-size: 150%;
    }

    #containersome {
        font-size: 90%;
        padding: 0 25% 0 0;
        align-items: center;
    }

    .someicon {
        width: 70px;
    }

}
